<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;900&family=Oleo+Script&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Serwer Pawla</title>
</head>

<body>
    <div class="wrapper">
        <img src="sloth2.png" alt="">

        <div class="head">
            <header>Hello There</header>
            <p>This is my site for previews only</p>
        </div>

        <section class='main'>
            <header>Please consider climbing on some of the branches in my static folder working tree:</header>
            
        </section>
    </div>

    <script type='module' src="lista.js"></script>
</body>

</html>